<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WallpaperInfoApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <WallpaperInfoApp.Properties.Settings>
            <setting name="root_path" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="pause" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="interval" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="theme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="custom_root" serializeAs="String">
                <value>/</value>
            </setting>
            <setting name="custom_allow" serializeAs="String">
              <value />
            </setting>
            <setting name="custom_filter" serializeAs="String">
                <value>#nd#|#sn#</value>
            </setting>
        </WallpaperInfoApp.Properties.Settings>
    </userSettings>
</configuration>
